
.grid-item { width:32%;padding:0.6% }
.grid-item img{width: 100%; }
@media(max-width:768px){
  .grid-item { width: 50%; padding:1%}
}

.container {
    position: relative;
    width: 100%;
  }

@media only screen and (min-width: 768px) {
    .marginyuzde3 {margin-left: 3%;}
}
@media only screen and (max-width: 768px) {
    .marginyuzde3 {margin-left: 0%;}
}

@media only screen and (min-width: 768px) {
  .marginyuzde3anasayfa {margin-left: 3%;}
}
@media only screen and (max-width: 768px) {
  .marginyuzde3anasayfa {margin-left: 2%;}
}


  @media only screen and (max-width: 768px) {
    .kategoribaslikdegisken {font-size:small; }
  }
  @media only screen and (min-width: 768px) {
    .kategoribaslikdegisken {font-size:larger; }
  }

@media only screen and (min-width:992px) {
    .hovereffect{
    filter: grayscale(70%);
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1);
    position: relative;
    }
}

@media only screen and (min-width:992px ) {
.hovereffect:hover{
    filter: grayscale(0%);
    transform: scale(1.03);
}
}
.grid-item {
    position: relative;
    }

.grid-item5 {
      position: relative;
      }
 
    .grid-item-overlay {
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255, 0.95);
        font-family: 'montserrat', sans-serif;
        letter-spacing: 1px;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        height: 30px;
        width: 100%;
        text-align: center;
        font-size: small;
        font-weight: 500;
        }

  .hovercalismalar {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
  }
  .hovercalismalar:hover {
    transform: scale(1.03);
  }

  .hovercalismalar:hover .overlay{
    opacity: 0;
  }

  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    opacity: 0.7;
    transform: scale(0.97);
    transition: all 0.3s ease-in-out;
  }
  
.tümhaklar{
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size:78%;
    text-decoration: none;
    margin-top: 60px;
    color: #ebebeb;
}

.tümhaklarsiyah{
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size:78%;
  text-decoration: none;
  margin-top: 60px;
  color: #1d1d1d;
}

.tümhaklarsiyahaltta{
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size:78%;
  bottom: 0;
 left: 0;
 right: 0;
  position: fixed;
  text-decoration: none;
  color: #1d1d1d;
}

.tümhaklarbeyazaltta{
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size:78%;
  bottom: 0;
 left: 0;
 right: 0;
  position: fixed;
  text-decoration: none;
  color: #ffffff;
}


      
        .line {
          height: 1px;
          width: 50%;
          background-color: gray;
          margin: 20px auto;
          position: relative;
          display: flex;
          align-items: center;
        }
        .line:before,
        .line:after {
          content: "";
          height: 5px;
          width: 5px;
          border-radius: 50%;
          border: 1px solid gray;
          background-color: rgba(245, 245, 245, 0.913);
          position: absolute;
        }
        .line:before {
          left: 0;
        }
        .line:after {
          right: 0;
        }

        @media only screen and (min-width: 769px) {
          .insaatmobilke {
            display: none;
          }
        }
        @media only screen and (max-width: 768px) {
          .insaatwebke {
            display: none;
          }
        }


@media only screen and (max-width: 768px) {
  .mobilyok {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mobilvar {
    display: none;
  }
}

.fancybox-toolbar {
  display: none !important;
}

.fancybox-bg {
  background-color: #000000df !important;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content:center;
  background-color: #fff;
  z-index: 999
} 

#fancybox-wrap {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.fancybox-caption {
  font-family: 'montserrat', sans-serif;
  letter-spacing: 3px;
}

.footeraltta{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.kategoribaslik{
  text-align: center;
  margin-top: 5%;
  font-family: 'montserrat', sans-serif;
}

.kategoribaslikdegisken {
  text-align: center;
  color:rgb(0, 0, 0);
  padding-top:1%;
  font-family: 'montserrat', sans-serif;
  letter-spacing: 5px;
}

.mail{
  text-align: center;
  font-family: 'montserrat', sans-serif;
  margin: 14% auto auto auto;
  letter-spacing: 2px;
  font-weight:700;
}
.telefon{
  text-align: center;
  font-family: 'montserrat', sans-serif;
  letter-spacing: 9px;
  font-weight: 500;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
.mail {
  margin-top: 250px;
}
}

.fotoofe{
  width: 30%;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 768px) {
  .fotoofe{
    width: 75%;
  }
}

/*NAVBAR*/

nav {
  margin-top: 30px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  padding: 19px;
}

nav a {
  color: #212121;
  text-decoration: none;
  font-family: 'montserrat', sans-serif;
}



nav a:hover {
  color:rgb(103, 0, 172)
}

.dropdown {
  position: relative;
  text-align: center;
}

.dropdown:hover i{
  transform: rotate(180deg);
}

.dropdown i{
  transition: all ease-in-out 0.25s; 
}

.arrow-down::before {
  font-family: 'Font Awesome 5 Free';
}

.submenu {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  opacity: 0.96;
  transform: translateX(-38%);
  z-index: 99 ;
  position: absolute;
  justify-content: center;
  border-radius:14px;
  margin-top: 7px;
  padding-left: 60px;
  padding-right: 60px;
  display: none;
  background-color: #ffffff;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  animation: submenu 0.2s ease-out   ;
}


.submenublack {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  opacity: 0.96;
  transform: translateX(-38%);
  z-index: 99 ;
  position: absolute;
  justify-content: center;
  border-radius:14px;
  margin-top: 7px;
  padding-left: 60px;
  padding-right: 60px;
  display: none;
  background-color: #1f1f1f;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  animation: submenu 0.2s ease-out   ;
}

.submenu a{
  display: flex;
  align-items: center;
  gap: 6px;
}

.submenu li{
  padding: 0px 0 0px 0px;
}

.dropdown:hover > ul {
  display: grid;
}


@media (max-width: 470px){
  nav{
    margin-top: 10px;
  }

  nav li{
    padding: 10px;
  }

  .submenu{
    grid-template-columns: repeat(1, 1fr);
    transform: translateX(-18%);
    padding: 20px 20px 20px 10px;
    animation: submenuMobil 0.2s ease-out;
  }
}

.portfolio{
  white-space: nowrap;
  padding-left: 30px;
  padding-right: 30px;
}

.dropdown:hover .portfolio i{
  transform: none;
}

@keyframes submenu {
  from {
    transform: translate(-38%, -10px);
    opacity: 0%;

  }
  to {
    transform: translate(-38%, 0px);
    opacity: 100%;

  }
}

@keyframes submenuMobil {
  from {
    transform: translate(-18%, -10px);
    opacity: 0%;

  }
  to {
    transform: translate(-18%, 0px);
    opacity: 100%;

  }
}

.navaktif{
  color: rgb(97, 0, 158);
  font-weight: 500;
}

/*ANASAYFA*/

.siyahkısım{
  background: linear-gradient(to right bottom, rgb(21, 21, 21), rgb(2, 2, 2));
  padding-top: 30px;
  padding-bottom: 8px;
}

.viewall{
  margin-top: 60px;
  text-align:center;
  font-size: 1.4rem;
  font-weight: 200;
  font-family: 'montserrat', sans-serif;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  transition: all ease-out 0.2s;
  display: flex;
  flex-direction: column;
  height: 38px;
}

@media (max-width: 400px){
  .siyahkısım{
    padding-top: 10px;
  }

  .viewall{
    margin-top: 10px;
  }
}

.viewall:hover{
  color: blueviolet;
  font-size: 1.5rem;
}

.beyazkısım{
  height: 23rem;
  position: relative;
}

@media(max-width: 700px){
  .beyazkısım{
    height: 220px;
  }
}

.beyazkısım img{
  position: absolute;
  top: -30%;
  right: 1rem;
  z-index: 10;
  width: 800px;
}

@media(min-width: 1750px){
  .beyazkısım img{
    width: 970px;
    margin-right: 30px;
    margin-top: 10px;
  }
}


@media(max-width: 1450px){
  .beyazkısım img{
    width: 700px;
  }
}

@media(max-width: 1285px){
  .beyazkısım img{
    width: 600px;
    top: -20%
  }
}

@media(max-width: 1050px){
  .beyazkısım img{
    width: 500px;
    top: -20%;
    margin-right: -50px;
  }
}

@media(max-width: 1050px){
  .beyazkısım img{
    width: 500px;
    top: -20%;
    margin-right: -120px;
  }
}

@media(max-width: 700px){
  .beyazkısım img{
    width: 500px;
    top: -20%;
    margin-right: -160px;
  }
}

@media(max-width: 580px){
  .beyazkısım img{
    width: 300px;
    top: -10%;
    margin-right: -70px;
  }
}

@media(max-width: 420px){
  .beyazkısım img{
    width: 250px;
    top: -10%;
    margin-right: -70px;
  }
}

@media(max-width: 375px){
  .beyazkısım img{
    width: 250px;
    top: 10%;
    margin-right: -90px;
  }
}

.baslik{
  margin-top: 100px;
  margin-left: 170px;
}

#omerfarukerdogan{
font-family: 'montserrat', sans-serif;
font-weight: 600;
font-size: 400%;
}

#graphicphotography{
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  font-size: 180%;
}

#thisismyworld{
  font-family: 'montserrat', sans-serif;
  font-weight: 200;
  font-size: 400%;
  margin-top: -12px;
}

@media (min-width: 1750px){
  .baslik{
    max-width: 90%;
    margin: 120px auto auto 250px;
  }

  #omerfarukerdogan{
    font-size: 4.4rem;
    margin-bottom: -1px;
  }

  #graphicphotography{
    font-size: 3rem;
  }

  #thisismyworld{
    font-size: 4.4rem;
    margin-top: -20px;
  }
}

@media (max-width: 1360px){
  .baslik{
    max-width: 90%;
    margin: 120px auto auto 120px;
  }

  #omerfarukerdogan{
    font-size: 3.4rem;
    margin-bottom: -1px;
  }

  #graphicphotography{
    font-size: 2rem;
  }

  #thisismyworld{
    font-size: 3.4rem;
    margin-top: -8px;
  }
}

@media (max-width: 1140px){
  .baslik{
    max-width: 90%;
    margin: 120px auto auto 120px;
  }

  #omerfarukerdogan{
    font-size: 3rem;
    margin-bottom: 4px;
  }

  #graphicphotography{
    font-size: 2rem;
  }

  #thisismyworld{
    font-size: 3.6rem;
    margin-top: -18px;
  }
} 

@media (max-width: 1050px){
  .baslik{
    max-width: 90%;
    margin: 120px auto auto 80px;
  }

  #omerfarukerdogan{
    font-size: 3rem;
    margin-bottom: 4px;
  }

  #graphicphotography{
    font-size: 2rem;
  }

  #thisismyworld{
    font-size: 3.6rem;
    margin-top: -18px;
  }
} 

@media (max-width: 916px){
  .baslik{
    max-width: 90%;
    margin: 120px auto auto 80px;
  }

  #omerfarukerdogan{
    font-size: 2.6rem;
    margin-bottom: 4px;
  }

  #graphicphotography{
    font-size: 1.6rem;
  }

  #thisismyworld{
    font-size: 3rem;
    margin-top: -18px;
  }
} 

@media (max-width: 850px){
  .baslik{
    max-width: 90%;
    margin: 120px auto auto 70px;
  }

  #omerfarukerdogan{
    font-size: 2.6rem;
    margin-bottom: 4px;
  }

  #graphicphotography{
    font-size: 1.6rem;
  }

  #thisismyworld{
    font-size: 3rem;
    margin-top: -18px;
  }
} 

@media (max-width: 750px){
  .baslik{
    max-width: 90%;
    
    margin: 70px auto auto 36px;
  }

  #omerfarukerdogan{
    font-size: 2rem;
    margin-bottom: -1px;
  }

  #thisismyworld{
    font-size: 2rem;
    margin-top: -8px;
  }
}

@media (max-width: 580px){
  .baslik{
    max-width: 90%;
    
    margin: 40px auto auto 36px;
  }

  #omerfarukerdogan{
    font-size: 1.4rem;
    margin-bottom: 5px;
  }

  #graphicphotography{
    font-size: 1rem;
  }

  #thisismyworld{
    font-size: 2rem;
    margin-top: -10px;
  }
}

@media (max-width: 450px){
  .baslik{
    max-width: 90%;
    
    margin: 40px auto auto 36px;
  }

  #omerfarukerdogan{
    font-size: 1.4  rem;
    margin-bottom: 5px;
  }

  #graphicphotography{
    font-size: 0.8rem;
  }

  #thisismyworld{
    font-size: 1.7rem;
    margin-top: -10px;
  }
}

@media (max-width: 400px){
  .baslik{
    max-width: 90%;
    
    margin: 40px auto auto 20px;
  }

  #omerfarukerdogan{
    font-size: 1.4  rem;
    margin-bottom: 5px;
  }

  #graphicphotography{
    font-size: 0.8rem;
  }

  #thisismyworld{
    font-size: 1.7rem;
    margin-top: -10px;
  }
}

@media (max-width: 375px){
  .baslik{
    max-width: 90%;
    
    margin: 40px auto auto 15px;
  }

  #omerfarukerdogan{
    font-size: 1.5  rem;
    margin-bottom: 3px;
  }

  #graphicphotography{
    font-size: 1rem;
  }


  #thisismyworld{
    font-size: 1.8rem;
    margin-top: -12px;
  }
}

.siyahkutu{
  background: linear-gradient(to bottom, transparent, black);
}

.viewAllButon{
  text-decoration: none;
  color: blueviolet;

}

.tri {
  opacity: 90%;
  width: 4rem;
  height: 4rem;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  margin-bottom: 2rem;
  margin-right: 2rem;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

  @media (max-width: 400px){
    .tri{
      margin-bottom: 1rem;
      margin-right: 1rem;
      width: 2.6rem;
      height: 2.6rem;
    }
  }
  
.tria {
  width: 0;
  height: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 25px solid white;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  } 

  @media (max-width: 400px){
    .tria{
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 15px solid white;
      top: 45%;

    }
  }
  
  #loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   @keyframes loading {
    0% { width: 0; }
    100% { width: 100%; }
   }
   
   .loading-bar {
    width: 0;
    height: 2px;
    background: #333;
   }








@media (max-width: 599px){
  .yapimasamasi{
    height: 50rem;
    max-height: 17rem;
     margin: 8rem auto auto auto;
     display: block;
  }
}

@media (min-width: 600px){
  .yapimasamasi{
    height: 50rem;
    max-height: 28rem;
     margin: -1rem auto auto auto;
     display: block;
  }
}

@media (min-width: 1000px){
  .yapimasamasi{
    height: 50rem;
    max-height: 34rem;
     margin: auto auto auto auto;
     display: block;
  }
}


@media (min-width: 1500px){
  .yapimasamasi{
    height: 50rem;
    max-height: 40rem;
     margin: 3rem auto auto auto;
     display: block;
  }
}


