

.footeraltta{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.container {
    position: relative;
    width: 100%;
  }

.footer{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 85%;
}
a.footer:link {
    text-decoration: none;
}
a.footer:visited {
    text-decoration: underline;
}

.footeraktif{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 85%;
    text-decoration: underline;
}

.kategoribaslik{
    text-align: center;
    margin-top: 5%;
    font-family: 'montserrat', sans-serif;
}


@media only screen and (min-width: 768px) {
    .marginyuzde3 {margin-left: 3%;}
}
@media only screen and (max-width: 768px) {
    .marginyuzde3 {margin-left: 0%;}
}

@media only screen and (min-width: 768px) {
  .marginyuzde3anasayfa {margin-left: 3%;}
}
@media only screen and (max-width: 768px) {
  .marginyuzde3anasayfa {margin-left: 2%;}
}



.kategoribaslikdegisken {
    text-align: center;
    color:rgb(0, 0, 0);
    padding-top:5%;
    font-family: 'montserrat', sans-serif;
    letter-spacing: 5px;
  }
 
  @media only screen and (max-width: 768px) {
    .kategoribaslikdegisken {font-size:small; }
  }
  @media only screen and (min-width: 768px) {
    .kategoribaslikdegisken {font-size:larger; }
  }



.mail{
    text-align: center;
    font-family: 'montserrat', sans-serif;
    margin-top: 250px;
    letter-spacing: 2px;
    font-weight:700;
}
.telefon{
    text-align: center;
    font-family: 'montserrat', sans-serif;
    letter-spacing: 9px;
    font-weight: 500;
}
@media only screen and (min-width:992px) {
    .hovereffect{
    filter: grayscale(70%);
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: scale(1);
    position: relative;
    }
}

@media only screen and (min-width:992px ) {
.hovereffect:hover{
    filter: grayscale(0%);
    transform: scale(1.03);
}
}
.grid-item {
    position: relative;
    }

.grid-item5 {
      position: relative;
      }

      
@media only screen and (min-width:992px) {
    .grid-item-overlay {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(245, 245, 245, 0.954);
        font-family: 'montserrat', sans-serif;
        letter-spacing: 3px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        height: 30px;
        width: 100%;
        }
    }
  .hovereffect:hover .grid-item-overlay {
    opacity: 1;
}


@media only screen and (max-width:992px) {
    .grid-item-overlay {
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(245, 245, 245, 0.913);
        font-family: 'montserrat', sans-serif;
        letter-spacing: 1px;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        height: 30px;
        width: 100%;
        text-align: center;
        font-size: small;
        font-weight: 500;
        }
}

  .hovercalismalar {
    transform: scale(1);
    transition: all 0.3s ease-in-out;

  }
  .hovercalismalar:hover {
    transform: scale(1.03);
  }
  
.tümhaklar{
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size:78%;
    text-decoration: none;
}

.tümhaklarcontact{
    margin-top: 23px;
}

      
        .line {
          height: 1px;
          width: 50%;
          background-color: gray;
          margin: 20px auto;
          position: relative;
          display: flex;
          align-items: center;
        }
        .line:before,
        .line:after {
          content: "";
          height: 5px;
          width: 5px;
          border-radius: 50%;
          border: 1px solid gray;
          background-color: rgba(245, 245, 245, 0.913);
          position: absolute;
        }
        .line:before {
          left: 0;
        }
        .line:after {
          right: 0;
        }

        @media only screen and (min-width: 769px) {
          .insaatmobilke {
            display: none;
          }
        }
        @media only screen and (max-width: 768px) {
          .insaatwebke {
            display: none;
          }
        }




@media only screen and (max-width: 768px) {
  .mobilyok {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mobilvar {
    display: none;
  }
}


.fancybox-lock .fancybox-overlay{overflow-y:hidden!important}

.fancybox-bg {
  background: none !important;
}

